.form {

  text-align: center;
  padding: 40px;
  direction: rtl;
}
  h2{
margin-left: 42%;
margin-right: 42%;
margin-bottom: -2%;
margin-top: -2%;
  }

.form-field {
  width: calc(45% - 5px);
margin: 2%;
margin-bottom: 0.5%;
  text-align: right;
}

.mat-form-field {
  width: 100%;
  padding: 3%;
  align-items: center;
  background-color: #ffffff; /* רקע לבן */
}

.mat-select {
  width: 100%;
}

.mat-datepicker-toggle {
  color: #000;
  cursor: pointer;
}

.submit-btn {
  width: 40%;
  margin-top: 30px;
  background-color: #00e1ff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0097a7;
}
.white{
  background-color: #ffffff;
  margin-left: 2%;
  margin-top: 2%;
}