html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1;
    background: linear-gradient(to right, #00ffd04b, #ff74a04d, #93fff24a)
    !important;
}
