.mat-top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: auto;
    direction: rtl;
    text-align: center;
    text-shadow: #7b3f3fa4;
  }
  
  .top {
    display: flex;
  }
  
  .buttons-container {
    margin-right: auto;
  }
  
  .search-container {
    margin-left: auto;
  }
  
  
  .custom-table th,
  .custom-table td {
    padding: 8px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .custom-table tr:hover {
    background-color: #f5f5f5;
  }
  
  .mat-table-container {
    width: 70%;
    margin: auto;
    direction: rtl;
    text-align: right;
  }
  
  .mat-table-container {
    max-height: 70vh;
    overflow-x: auto;
  }
  
  .mat-table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  
  
  .mat-icon-button {
    visibility: visible !important;
  }
  
  .custom-button {
    background-color: transparent;
    color: #333;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10%;
    background-color: rgba(190, 190, 190, 0.338);
  }
  .custom-button1{
    background-color: transparent;
    color: #333;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 5px;
    margin-right: 10%;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .mat-table-container::-webkit-scrollbar {
    width: 20px;
  }
  
  .mat-table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .mat-table-container::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 3px;
  }
  
  .mat-table-container::-webkit-scrollbar-thumb:hover {
    background: #888888;
  }
  
  .custom-table th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    font-weight: bold;
    z-index: 1;
  }
  
  .mat-toolbar {
    background: linear-gradient(to right, #00ffd07d, #ff98b89d , #93fff2); /* צבע gradient */
    color: white; /* צבע טקסט */
    margin-bottom: 2%;
    direction: rtl;
  }
  
  .mat-toolbar-row {
    justify-content: center; /* מיישור כפתורים באמצע */
  }
  
  .search-container {
    display: flex;
    align-items: center;
    margin-right: 2%;
    margin-left: 3%;
    background-color: #b0b0b0;
    border-radius: 25px;
    padding: 4px 7px;
    width: 12%;
    text-align: center;
  
  }
  
  .search-container .mat-input {
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    width: 100%;
    outline: none;
  }
  
  .search-icon {
    background-color: transparent;
    color: white;
    margin-right: 2%;
  }
  .se{
    margin-top: -10%;
  }
   .search{
  background-color: #ffffff9f;
  width: 85%;
  border-radius: 5px;
  height: 20px;
  padding: 1%;
  display: flex;
  
  
  }
  
  .custom-button:hover, .butt:hover, .custom-button1:hover{
    background-color: #6d6d6d4f;
    color:rgb(0, 0, 0) ;
  }
  
  .spacer{
    flex: 0;
  
  }
  .download{
    margin-top: 0.4%;
    margin-left: 0%;
  }
  .act{
    margin-left: 30%;
  }
  
  
  .mat-icon {
    color: rgba(0, 0, 0, 0.492) !important; /* !important כדי להעדיף על CSS קיים */
  }
  
  .mat-mdc-header-cell
  {
    color: #000000;
    font-size: larger;
  }