  .content {
    margin: 0 auto;
    display: flex;
    direction: rtl;
    justify-content: space-around;
    margin-top: 1%;
    height: 75%;
    width: 100%;
  }

  .edit-employee-details {
    background-color: #ffffff;
    padding: 15px;
    flex: 0 0 35%;
    margin-right: 20px;

    
  }
  .small-con{
    width: 50%;
  }

  .edit-employee-details h3 {
    color: #333;
    margin-bottom: 20px;
  }

  .employee-form .form-group {
    width: 100%;
    height: 50%;

  }

  .employee-form label {
    display: block;
    margin-bottom: 0px;
    font-weight: bold;
    color: #555;
    margin-right: 2%;

  }




  .employee-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 35%;
    margin-right: 5%;
  }

  .employee-form button.primary {
    background-color: #4CAF50;
    color: white;
  }

  .employee-form button.secondary {
    background-color: #ccc;
    color: #333;
  }

  .employee-form button:hover {
    background-color: #36807d;
  }

  .employee-form button.secondary:hover {
    background-color: #bbb;
  }

  .employee-form button.primary {
    background-color: #36807d;
    border-color: #36807d;
  }

  .employee-form button.secondary {
    background-color: #29a6a2;
    border-color: #29a6a2;
  }

  .component-container {
    width: 45%;
  }

  .cus {
    background-color: #a19e9e68;
    color: #296872;
    margin-top: 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  .cus:hover {
    background-color: #36807d;
    color: #ffffff;
  }
  
